body{
  background: #C6D8D3!important;
}

.active>.page-link, .page-link.active{
  background-color: #121212!important;
  border-color: #121212!important;
}

nav.bg-dark{
  background-color: #253855!important;
}
